.v9{
    
    background-color: #CECECE;
    padding-left: 20px ;

}

.vv1{
    border: 1px solid rgb(21, 21, 20);
    padding: 10px 10px 10px 10px;
    color: rgb(13, 14, 13);
    display: inline-block;
    background-color:#9CF8F2;
    width: 270px;
    margin-bottom:14px;
    margin-right: 6px;
}
.v1{
    margin:0px 0px 0px 0px;
    padding:10px;
    color: rgb(15, 14, 14);
}
.s1{
    height: 300px;
    width: 270px;
    background-color: aqua;

}

.vv2{
    border: 1px solid black;
    padding: 0px 10px 10px 10px;
    color: rgb(13, 14, 13);
    display: inline-block;
    background-color:  #acb6bc;
    width: 270px;
    margin-bottom:14px;
    margin-right: 6px;
}
.v2{
    margin:8px 9px 0px 0px;
    padding:10px;
    color: rgb(12, 12, 12);
}
.s2{
    height: 300px;
    width: 270px;
}  

.vv3{
    border: 1px solid black;
    padding: 0px 10px 10px 10px;
    color: rgb(13, 14, 13);
    display: inline-block;
    background-color: #B9F9D2;
    width: 270px;
    margin-bottom:14px;
    margin-right: 6px;
}
.v3{
    margin:8px 9px 0px 0px;
    padding:10px;
    color: rgb(19, 18, 18);
}
.s3{
    height: 300px;
    width: 270px;
}  

.vv4{
    border: 1px solid black;
    padding: 0px 10px 10px 10px;
    color: rgb(13, 14, 13);
    display: inline-block;
    background-color: #FDEEB4;
    width: 270px;
    margin-bottom:14px;
    margin-right: 6px;
}
.v4{
    margin:8px 9px 0px 0px;
    padding:10px;
    color: rgb(12, 12, 12);
}
.s4{

    height: 300px;
    width: 270px;
}

.vv5{
    border: 1px solid black;
    padding: 0px 10px 10px 10px;
    color: rgb(13, 14, 13);
    display: inline-block;
    background-color: #fdc7db;
    width: 270px;
    margin-bottom:14px;
    margin-right: 6px;
}
.v5{
    margin:8px 9px 0px 0px;
    padding:10px;
    color: rgb(12, 12, 12);
    
}
.s5{
    height: 300px;
    width: 270px;
}  


.vv6{
    border: 1px solid black;
    padding: 0px 10px 10px 10px;
    color: rgb(13, 14, 13);
    display: inline-block;
    background-color: #b8adae;
    width: 270px;
    margin-bottom:14px;
    margin-right: 6px;
}
.v6{
    margin:8px 9px 0px 0px;
    padding:10px;
    color: rgb(12, 12, 12);
}
.s6{
    height: 300px;
    width: 280px;
}  

.vv7{
    border: 1px solid black;
    padding: 0px 10px 10px 10px;
    color: rgb(13, 14, 13);
    display: inline-block;
    background-color: #F4D9FC;
    width: 270px;
    margin-bottom:14px;
    margin-right: 6px;
}
.v7{
    margin:8px 9px 0px 0px;
    padding:10px;
    color: rgb(12, 12, 12);
}
.s7{

    height: 300px;
    width: 280px;
}

.vv8{
    border: 1px solid black;
    padding: 0px 10px 10px 10px;
    color: rgb(13, 14, 13);
    display: inline-block;
    background-color: #b1c4b4;
    width: 270px;
    margin-bottom:14px;
    margin-right: 6px;
}
.v8{
    margin:8px 9px 0px 0px;
    padding:10px;
    color: rgb(12, 12, 12);
}
.s8{
    height: 300px;
    width: 280px;
}  






















